@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #091133;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
  padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================
.logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 38 / 26 * 100%;
  color: #37447E;
}
//============================================================================
.hello {
  display: flex;
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
  &__container {
    display: flex;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (min-width:$md2+px){
      flex: 0 1 50%; 
    }
    *:last-child{
      margin: 0px 0px 0px 0px;
    }
    z-index: 2;
  }
  &__title {
    @include adaptiv-value("font-size", 50, 30, 1);
    font-weight: 500;
    line-height: 66 / 50 * 100%;
    margin: 0px 0px 20px 0px;
  }
  &__text {
    @include adaptiv-value("font-size", 18, 15, 1);
    line-height: 30 / 18 * 100%;
    color: #505F98;
    margin: 0px 0px 65px 0px;
  }
  &__actions {
    margin: 0px 0px 20px 0px;
    @media (max-width:$md4+px){
      display: flex;
      flex-direction: column;
      min-width: 100%;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: -490/1440 * 100%;
    @media (max-width:$md1+px){
      opacity: 0.2;
      left: 0;
    }
  }
  &__btn {
    font-size: 16px;
    min-height: 36px;
    min-width: 189px;
    &:first-child{
      margin: 0px 25px 0px 0px;
    }
    @media (max-width:$md4+px){
      min-height: 46px;
      &:first-child{
        margin: 0px 0px 20px 0px;
      } 
    }
  }
}
//============================================================================
.undraw {
  @include adaptiv-value("padding-top", 155, 0, 1);
  @include adaptiv-value("padding-bottom", 115, 35, 1);
  &__body {
    @media (min-width:$md2+px){
      display: flex;
      align-items: center; 
    }
  }
  &__content {
    flex: 0 1 50%; 
    padding: 0px 20px 0px 0px;
    @media (max-width:$md2+px){
      margin: 0px 0px 20px 0px;
    }
  }
  &__header {
    @include adaptiv-value("margin-bottom", 70, 20, 1);
  }
  &__title {
    margin: 0px 0px 10px 0px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
  &__item {}
  &__image {
    flex: 0 1 50%; 
    padding: 0px 0px 540/1110 * 100% 0px;
    img{max-width: 100%;}
  }
}
.item-undraw {
  padding: 0px 15px;
  margin: 0px 0px 20px 0px;
  flex: 0 1 50%;
  &__image {
    margin: 0px 0px 10px 0px;
  }
  &__title {
    font-size: 16px;
    line-height: 26 / 16 * 100%;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
  }
  &__text {
    font-size: 12px;
    line-height: 18 / 12 * 100%;
    color: #5D6970;
  }
}
//============================================================================
.intro {
  &__body {
    display: flex;
    flex-direction: column;
  }
}
.item-intro {
  @media (min-width:$md3+px){
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  @media (max-width:$md3+px){
    text-align: center;
    flex-direction: row-reverse; 
  }
  @include adaptiv-value("padding-top", 90, 30, 1);
  @include adaptiv-value("padding-bottom", 90, 30, 1);
  &__content {
    @media (min-width:$md3+px){
      flex: 0 1 445px;
      padding: 0px 0px 0px 30px; 
    }
  }
  &__image {
    img{max-width: 100%;}
    @media (max-width:$md3+px){
      margin: 0px 0px 20px 0px;
    }
  }
  &__title {
    margin: 0px 0px 10px 0px;
  }
}
//============================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
